.card {
  flex: 0 0 auto;
  margin-right: 1em;
  text-align: center;
  max-width: 8em;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;

  &__poster {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 100px; */
    margin-bottom: .4em;
    /* z-index: -10; */

    &--media {
      opacity: .5;
    }
  }

  &__title-box {
    position: absolute;
    bottom: .4em;
    right: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
    padding: .3em 0;
  }

  &__title {
    text-align: center;
    font-size: .8rem;
    /* flex: 1; */
  }

  &__name {
    font-size: .7rem;
    max-width: 100%;
  }

  &__cast {

    max-width: 3em;
    
    &--empty {
      width: 45px; 
      border: 2px solid black; 
      /*padding: 20px;*/
      box-sizing: border-box;
      margin-bottom: 10px;
      background-color: rgb(200,200,200);
    }
    
    &--image {
      display: inline-block;
      width: 100%;
      font-size: 0;
      line-height: 0;
      vertical-align: middle;
      background-size: 75%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("https://www.svgrepo.com/show/5357/user.svg");
    }

    &--image-inner {
      display: block;
      height: 0;
      padding-top: 100%;
    }
  }
  

  &__thumbs {
    cursor: pointer;

    & img {
      position: relative;
      display: block;
    }
  }

  &__play-icon {
    position: absolute;
    top: 30%;
    right: 43%;
  }

}

//need to add media query in order to adjust the size of the CAST person name

@media (min-width:480px) { 
  /* smartphones, Android phones, landscape iPhone */ 
  .card__media {
    max-width: 9rem;
  }

  .card__cast {
    max-width: 5em;
  }
}
@media (min-width:600px) { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .card__media {
    max-width: 10rem;
  }

  .card__cast {
    max-width: 6em;
  }
}
@media (min-width:801px) { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .card__media {
    max-width: 12rem;
  }

  .card__cast {
    max-width: 7em;
  }
}

@media (min-width:1025px) { 
  .card__media {
    max-width: 14rem;
  }
}
