/* Sign in form */
.profile-page{
  min-height: 65vh;
  padding: 1.5em 0 1em 0;
}

.profile {
  margin: 0 auto;
  width: 85%;

  &__title {
    display: flex;
    justify-content: space-between;
    
  }

 &__username {
  font-size: 1.2em;
 }

  &__signout {
    display: flex;
    margin-top: .2em;
    cursor: pointer;

    &--icon {
      display: block;
    }

    &--text {
      margin-right: .3em;
      line-height: 1.3em;
    }
  }
}
