// to see if applicable or not - leave it for now 
main {
  margin: 3em 0 2em 0;
}

.item-page {

  &__header {
    // position: relative;
  }

  &__img {
    max-width: 100%;
    background-size: contain;    
    position: relative;
    display: block;
  }

  &__title-box {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    display: inline-block;
  }

  &__title {
    font-size: 1rem;
    padding: .1em 1em
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .5em;
    color: var(--title-white-rgb);
  }
  
  &__info span {
    margin-right: 1.5em;
  }

  &__overview {
    font-size: .9em;
    margin-bottom: .5em;
  }
}