// to see if applicable or not - leave it for now 

.item-page {
  
  &__header {
    text-align: left;
  }

  &__img {
    max-width: 100%;
    height: auto;
    background-size: contain;    
    position: relative;
    display: block;
    margin: 0 auto;
  }

  &__title-box {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    display: inline-block;
  }

  &__title {
    font-size: 1em;
    padding: .1em 1em
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .5em;
    color: var(--title-white-rgb);
  }
  
  &__info span {
    margin-right: 1.5em;
  }

  &__overview {
    font-size: .9em;
    margin-bottom: .5em;
    
    &--title {
      border-bottom: 1px solid var(--thertiary);
      margin-bottom: .6em;
      display: block;
      font-size: .9rem;
    }
  }
}

// @media (min-width:1281px) {
//   .item-page__flex {
//     display: flex;
//   }

//   .item-page__header {
//     flex: 4 1 60%;
//   }
//   .item-page__flex-info {
//     flex: 1 1 40%;
//   }
// }