.logo--tmdb {
  text-align: end;
  width: 24%;
  padding-right: .5em;

  &__text {
    font-size: .8em;
    vertical-align: top;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}

@media (min-width:600px) {
  .logo--tmdb {
    display: none;
  }  
}