.logo--tmdb {
  text-align: end;
  width: 22%;

  &__text {
    font-size: .8em;
    background-color: red;
    vertical-align: top;
    line-height: 0.2;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    font-size: .5em;
  }
}
