header {
  background-color: var(--primary_shade1);
  border-bottom: 1px solid rgba(255,255,255,.5 );

  // temporary disable for mobile wrapper
  // position: fixed;
  // top: 0;
  width: 100%;
  z-index: 1000000;
}

.logo {
  padding: .5em;
  display: flex;
  justify-content: space-between;
}