.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary_shade1);
  border-top: 1px solid rgba(255,255,255,.5 );
  /* height: 3em; */

  &__container {
    display: flex;
    justify-content: space-between;
    padding: .5em 0;  
  }

  &__item {
    text-align: center;
    flex: 1;

    font-size: 1em;
    padding-top: .1em;
  }

  &__icon {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: .6rem;
    padding-top: .2em;
  }
}

.bottom-nav__item + .bottom-nav__item {
  border-left: 1px solid rgba(255,255,255,.5 );
}
