.list {
  margin-bottom: .5em;

  &__top {
    border-bottom: 1px solid var(--thertiary);
    margin-bottom: .6em;
    display: block;

    &--wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: .1em;
    }

    &--controls {
      display: flex;
    }

    &--btns {
      background-color: transparent;
      color: var(--secondary);
      border: none;
      font-size: 1.1rem;
      cursor: default;
      margin-left: 1em;
      padding: 0 .5em;
      opacity: .15;

      &--visible {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  
  &__container {
    position: relative;
  }

  &__btns {
    height: 85%;
    background-color: rgba(60,60,60,.8);
    border: 0;
    color: #ddd;
    font-size: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: .2em;
    z-index: 2;
    cursor: pointer;
    display: none;
    
    &--visible {
      display: block;
    }

    &--left {
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &--right {
      right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: flex-start;

    scrollbar-width: none;

    // Disable scrollbars
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;  /* Chrome, Safari and Opera */ 
    }

  }
}

@media (max-width: 1200px) and (pointer:coarse){
  .list__top--controls {
    display: none;
  }
}