.list-grid {
  grid-template-columns: 1em 1fr 1em;
  display: grid;
  padding-top: .7em;

  &__title {
    border-bottom: 1px solid var(--title-white-rgb);
    display: inline-block;
    margin-bottom: .6em;

    font-size: .9em;
  }
}

.list-grid > * {
  grid-column: 2 / -2;
}

.list-grid > .full {
  grid-column: 1 / -1;
}
