footer {
  display: none;
}

.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__top {
    display: flex;
    padding: 1em 0;


    &--left {
      flex: 1 1 70%;
      padding: .5em 0em;
      text-align-last: left;
    }

    &--right {
      flex: 1 1 50%;
    }
  }

  &__bottom {
    font-size: .8em;
    color: rgba(255,255,255,.5 );
    margin: .3em 0;
  }

  &__link {
    color: var(--thertiary);
    font-style: oblique ;
  }
}

@media (min-width:600px) {
  footer {
    display: flex;
  }
}