.logo--main {
  width: 75%;
  margin-top: 1em;
  margin-bottom: 1.3em;
  padding-left: .5em;

  &__text {
    font-family: 'Fascinate', cursive;
    line-height: 0;
  }
}

@media (min-width:600px) {
  .logo--main {
    width: 25%;
  }
}
