@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Hind:wght@300;400;500;600;700&display=swap');

/* variables */
:root {
  --primary: #000000; 
  --secondary: #FDFFFC;
  --thertiary: #f9dc5c;
  
  --btn-primary: #f9dc5c;
  --btn-disabled: #888;
  
  --title-white-rgb: rgba(255,255,255,.5);

  --gutter: 20px;
} 


/* reset */
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

body {
  background-image: linear-gradient(to bottom, #000000, #161616, #242424, #343434, #444444);
  background-attachment: fixed;
  color: var(--secondary);
  /* min-height: 100vh; */
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

/* base styles */

/* fonts */

body {
  font-family: 'Fascinate', cursive;
  font-family: 'Hind', sans-serif;
}

h1, h3{
  font-size: 1.3em;
}
h2{
  font-size: 1.2em;
  display: inline;
}
h4{
  font-size: 1.1em;
}

/* shared styles */

.section-title {
  /* border-bottom: 1px solid var(--title-white-rgb);
  display: inline-block; */

  border-bottom: 1px solid var(--thertiary);
  display: inline !important;

  margin-bottom: .6em;

  font-size: .9em;
}

.section-grid {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  padding-top: .7em;
}

.section-grid > * {
  grid-column: 2 / -2;
}

.section-grid > .full {
  grid-column: 1 / -1;
}

.img-shadow {
  display: inline-block;
  position: relative;
  box-shadow:  inset rgba(0, 0, 0, .8) 0px 0px 50px;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.img-shadow img {
  max-width: 100%;
  position: relative;
  z-index: -1; 
}

/* Global media queries */
@media (min-width:900px) {
  body {
    font-size: 110%;
  }
}



